.AddShirtForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.AddShirtForm div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.AddShirtForm p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.AddShirtForm ::placeholder {
  color: #989898;
}

.AddShirtForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddShirtForm label {
  margin: 10px 0;
  padding-top: 20px;
}

.AddShirtForm img {
  width: 200px;
  padding-top: 20px;
  margin: auto;
}

.AddShirtForm input {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--secondary-accent-color);
  outline: none;
  border-radius: 50px;
}

.AddShirtForm button[type="submit"] {
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 40px;
  outline: none;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 30px;
  cursor: pointer;
}

.AddShirtForm button[type="submit"]:hover {
  background-color: #d1345bbc;
}

.UploadImageIcon {
  font-size: 50px;
  opacity: 0.5;
}

.ImageCapture {
  width: 200px;
}
